html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin-right: auto;
  margin-left: auto;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var (--main-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.our-activity,
.our-team,
.portfolio,
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features .portfolio {
  background-color: var(--main-bg-color);
}

.section-hero,
.footer {
  background-color: var(--dark-bg-color);
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--second-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-nav,
.list-contact,
.list-features,
.client-list {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  padding-left: 0;
  list-style: none;
}

.list,
.list-connection,
.list-connection-footer {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
